.navbar .search{
    background-image: url(././images/search.png);
    background-size: 8%;
    background-position: left center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}
.navbar .search:focus{
    background-image: url('');
    background-position: left center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}